<ul class="nav">
    <li><a href="@routes.Dashboard.listDavek()">Davki</a></li>
    <li><a href="@routes.Dashboard.formDavek()">dodaj davek</a></li>
    <li><a href="@routes.Dashboard.listVrsta()">Vrste</a></li>
    <li><a href="@routes.Dashboard.formVrsta()">dodaj vrsto</a></li>
    
    <li><a href="@routes.Dashboard.listOsebe()">osebe</a></li>
    <li><a href="@routes.Dashboard.formOseba()">dodaj osebe</a></li>
    <li><a href="@routes.Dashboard.listRezervacije()">Rezervacije</a></li>
    <li><a href="@routes.Dashboard.formRezervacija()">dodaj Rezervacije</a></li>
    <li><a href="@routes.Dashboard.listAkcije()">Akcije</a></li>
    <li><a href="@routes.Dashboard.formAkcija()">dodaj Akcije</a></li>
    <li><a href="@routes.Dashboard.listBari()">Bari</a></li>
    <li><a href="@routes.Dashboard.formBar()">dodaj Bari</a></li>
    <li><a href="@routes.Dashboard.listArtikli()">artikel</a></li>
    <li><a href="@routes.Dashboard.formArtikel()">dodaj artikel</a></li>
    <li><a href="#">krneki</a></li>
</ul>
