@(form: Form[Application.Login])

@form = @{Http.Context.current().args.get("loginform").asInstanceOf[Form[Application.Login]]}

@helper.form(routes.Application.authenticate, 'class -> "navbar-form pull-right") {
            
            @if(form != null && form.hasGlobalErrors) { 
                <p class="badge badge-important">@form.globalError.message</p>
            }
            <label for="email">Email</label> 
            <input type="email" name="email"  value="@if(form != null){ @form("email").value }"/>
            <label for="password">Geslo</label> 
            <input type="password" name="password" />
            <button class="btn" type="submit">Prijava</button>
            
        }
