@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="row-fluid">
                    <a class="brand" href="@routes.Application.index()">Pijga.si</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="@routes.Application.artikli()">Artikli</a></li>
                            <li><a href="@routes.Application.about()">O nas</a></li>
                            <li><a href="#">krneki</a></li>
                        </ul>
                        @Html(Application.login())
                    </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="container-fluid">
        @content
    </div>
    </body>
</html>
